* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    height: 100vh;
    align-items: stretch;
}

.cards-container {
    background: rgb(68,45,116);
    background: linear-gradient(113deg, rgba(68,45,116,1) 0%, rgba(171,52,187,1) 50%, rgba(70,45,173,1) 100%);
    flex: 3 1 400px;
    display: flex;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
    color: rgb(238, 231, 231);
    justify-content: center;
    align-items:flex-start;
    gap: 50px;
}

.card {
    display: flex;
    /* margin: 40px auto; */
    max-width: 400px;
    /* margin: 50px 0; */
}

.icon {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.101);
    padding: 20px;
    filter:invert(100%);
    border-radius: 5px;
    margin: 10px;
}

.card-text {
    margin: 10px;
}

.card-heading {
    font-size: 0.9em;
    font-weight: 700;
    margin: 0 10px 10px 10px;
}

.card-info {
    font-weight: 300;
    font-size: 0.8em;
    line-height: 18px;
}

.form-container {
    background-color: rgb(238, 238, 238); 
    flex: 4 1 600px;
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.form-heading {
    font-weight: 400;
    margin: 10px;
    padding-top: 10px;
}

.input-div {
    margin: 5px 10px;
}

.label {
    display: block;
    margin: 0 0 5px 0;
}

.half-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colored-heading {
    display: block;
}

hr {
    width: 100px;
    height: 5px;
    background-color: rgb(203, 203, 203);
    border: none;
    margin: 5px 10px;
}

.input {
    width: 100%;
    font-size: 1.1em;
    border: none;
    background-color: inherit;
    
}

.input:focus {
    outline: none;
}

.input-box {
    padding: 8px 8px;
    border-radius: 3px;
    background-color: rgb(223, 223, 223);
}

.input-box:focus-within {
    background-color: white;
    outline: 2px solid rgba(86, 33, 201, 0.312);
}

.half {
    width: 45%;
}

.blue {
    color: rgb(86, 33, 201);
}

.agree {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    padding-bottom: 10px;
    font-size: 0.8em;
}

.check-box {
    max-width: 350px;
}

.sign-up {
    padding: 10px 25px;
    min-width: 100px;
    border: none;
    background-color: rgb(86, 33, 201);
    color: white;
    border-radius: 3px;
}

@media screen and (max-width: 835px) {
    .half {
        width: 100%;
    }

    .card {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0;
    }

    .icon {
        width: 40px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: auto;
    }

    hr {
        align-self: center;
    }

    .form-heading {
        text-align: center;
    }

    .cards-container {
        display: none;
    }

    .agree {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
}